name: Backend CI

on:
  push:
    branches:
      - main
      - authentication-and-billing
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.417

      - name: Restore
        run: dotnet restore backend/HospitalAPI/HospitalAPI.csproj

      - name: Build
        run: dotnet build backend/HospitalAPI/HospitalAPI.csproj --configuration Release --no-restore

      - name: Test
        run: dotnet test backend/HospitalAPI/HospitalAPI.csproj --configuration Release --no-build
